<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<section class="wa-stack">
    <script>
        let variantIndex = 1; // start after the first row

        function addVariant() {
            const template = document.getElementById("variant-template").innerHTML;
            const rendered = template.replace(/__index__/g, variantIndex++);
            document.getElementById("variantsContainer").insertAdjacentHTML("beforeend", rendered);
        }
    </script>

    <wa-card>
        <h2>Products</h2>
        <wa-button
            hx-get="/products"
            hx-target="#productTable"
            hx-swap="innerHTML">
            Load Products
        </wa-button>

        <div id="productTable"></div>
    </wa-card>

    <div th:replace="~{fragments/form :: formFragment}"></div>
</section>
<script>
    // Optional: trigger initial table load
    htmx.trigger('#loadProductsButton','click');
</script>
</html>
